.homediv{
    margin-top: 10vh;
    
}

.page{
    width: 80vw;
    margin-top:5vh;
    
}

.homediv h3{
    color:rgb(255, 255, 255);
}



.h-row{
    display: flex;

    margin-top: 2vh;
}

.article{
    width: 20vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(239, 28, 246, 0.29);
    color: rgb(0, 0, 0);
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.h-row-all{
    display: flex;
    flex-wrap: wrap;
}