

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/64daa97e949f9b40709b27b1_64da709470d2e21aeabe5cc4_website-security-checklist-what-actually-matters-in-2020-b.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

h1,
h2,
h3,
p,
a,
input,
label {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}