.landing {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.landing .container .left {
    flex:1;
    order: 1;
    align-items: flex-start;
}

.landing .container .right {
     flex: 1;
    order: 2; 
    align-items: flex-end;
}

.landing .container .btn {
    display: inline-block;
    padding: 0.78rem 1rem 2rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.landing .container .btn:hover {
    background-color: rgb(40, 41, 43);
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150%;
    /* padding-left: 4rem; */
}